<div *ngIf="branches.length > 1; else branchesLoading">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="searchByCityText" name="city" placeholder="Search by city" />
        </mat-form-field>
    </form>

    <mat-list class="list">
        <mat-list-item
            *ngFor="let branch of (branches | branchfilter: searchByCityText)"
            class="listItem"
            (click)="onClick(branch)"
        >
            <p mat-line>{{ branch.Name | titlecase }}</p>
            <em mat-line caption>{{ branch.PostalAddress.AddressLine.toString() | titlecase }}</em>
            <em mat-line caption
                >{{ (branch.PostalAddress.TownName ? branch.PostalAddress.TownName.toString() : '') | titlecase }},
                {{ branch.PostalAddress.PostCode ? branch.PostalAddress.PostCode.toString() : '' }}
                {{ branch.PostalAddress.Country ? branch.PostalAddress.Country.toString() : '' }}
            </em>
        </mat-list-item>
    </mat-list>
</div>

<ng-template #branchesLoading>
    <div>
        Loading branches...
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</ng-template>
