.sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.container {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
}
