<mat-toolbar class="header">Branches</mat-toolbar>
<mat-sidenav-container class="container">
    <mat-sidenav
        class="sidenav"
        mode="side"
        opened
        [fixedInViewport]="true"
        [fixedTopGap]="60"
        [fixedBottomGap]="0"
        [position]="start"
    >
        <app-branch-list></app-branch-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <app-branch-details></app-branch-details>
    </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
