<div *ngIf="branch; else selectBranch">
    <mat-card class="example-card" *ngIf="branch; else selectBranch">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ branch.Name | titlecase }}</mat-card-title>
            <mat-card-subtitle>
                <em mat-line caption>{{ branch.PostalAddress.AddressLine.toString() | titlecase }}, </em>
                <em mat-line caption
                    >{{ (branch.PostalAddress.TownName ? branch.PostalAddress.TownName.toString() : '') | titlecase }},
                    {{ branch.PostalAddress.PostCode ? branch.PostalAddress.PostCode.toString() : '' }}
                    {{ branch.PostalAddress.Country ? branch.PostalAddress.Country.toString() : '' }}
                </em>
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <img class="image" src="https://i.imgur.com/H5amsah.png" alt="Fake maps image" />

            <ul *ngIf="branch.OtherServiceAndFacility && branch.OtherServiceAndFacility.length > 0">
                Services:
                <li *ngFor="let service of branch.OtherServiceAndFacility">{{ service.Description }}</li>
            </ul>

            <ul>
                Contact Information:
                <li *ngFor="let contact of branch.ContactInfo">
                    {{ contact.ContactType }}: {{ contact.ContactContent }}
                </li>
            </ul>

            <ul>
                Hours:
                <li *ngFor="let day of branch.Availability.StandardAvailability.Day">
                    {{ day.Name }}: {{ day.OpeningHours[0].OpeningTime }} - {{ day.OpeningHours[0].ClosingTime }}
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #selectBranch>
    <div>
        Select branch from the right panel...
    </div>
</ng-template>
