.example-card {
    max-width: auto;
}

.example-header-image {
    background-image: url('https://d1ic4altzx8ueg.cloudfront.net/finder-us/wp-uploads/sites/3/2017/12/Halifax-Logo-250-x-250.png');
    background-size: cover;
    /* background-color: blue; */
}

.image {
    width: 200px;
    padding-left: 40px;
}
